.clients {
  @extend %section;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.clients__link {
  display: flex;
  width: 210px;
  height: 92px;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: fill, border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent);
    border: 1px solid var(--accent);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 170px;
    flex-wrap: nowrap;
  }
}
