.features {
  @extend %section;
  // @extend %section--padding-bottom;
}

.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.features__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 1 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);
  }
}

.features__wrapper {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;

  @include fonts(700, 14px, false, calc(16 / 14), 0.03em);
  text-transform: uppercase;
}

.features__text {
  display: inline-block;

  @include fonts(false, 14px, false, calc(24 / 14), 0.03em);
  color: var(--secondary-text);
}
