.footer {
  margin: 0 auto;
  padding: 60px 0;
  background-color: var(--footer-background-color);
}

.footer__container {
  align-items: baseline;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.footer__contacts {
  text-align: center;
  margin-bottom: 60px;

  @include fonts(false, 14px, false, calc(24 / 14), 0.03em);

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    text-align: start;
    width: 231px;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer__logo {
  display: block;

  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.footer__logo--theme-white {
  color: var(--white-color);
}

.adress {
  display: block;
  font-style: normal;
}

.adress__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.adress__link--street {
  color: var(--white-color);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.adress__link--mail {
  color: var(--white-trasparent);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.adress__link--phone {
  color: var(--white-trasparent);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.footer__socials {
  text-align: center;

  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.socials__title {
  display: block;

  @include fonts(700, 14px, false, calc(16 / 14), 0.03em);

  text-transform: uppercase;
  color: #ffffff;
  margin-right: 0 auto;
  margin-bottom: 20px;
}

.footer__link {
  fill: var(--white-color);
  background: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent);
  }
}

.footer__list {
  display: flex;
  gap: 10px;
}

.footer__subscription {
  text-align: center;
}

.subscription__title {
  @include fonts(700, 14px, false, calc(16 / 14), 0.03em);
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }

  margin-bottom: 20px;
}

.subscription__label {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
}

.subscription__input {
  display: block;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  height: 50px;

  outline: unset;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }

  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:focus {
    border-color: var(--accent);
  }
}

.subscription__input::placeholder {
  @include fonts(400, 16px, false, calc(20 / 16), 0.03em);
  color: rgba(255, 255, 255, 0.6);
  align-items: center;
}

.footer__button {
  gap: 10px;
}
