.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: inline-block;
  margin-right: 93px;
}

.header__logo--theme-black {
  color: var(--logo-header);
}

.nav {
  display: none;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  @include fonts(500, 14px, false, calc(16 / 14), 0.02em);

  color: var(--main-text);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.nav__link--current {
  color: var(--accent);
}

.nav__link--current::after {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--accent);
  border-radius: 2px;
}

.contacts {
  display: none;
  // margin-left: auto;
}

.contacts__list {
  display: flex;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-text);
  padding-top: 32px;
  padding-bottom: 32px;

  @include fonts(500, 14px, false, calc(16 / 14), 0.02em);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.contacts__icon {
  fill: currentColor;
}

.header--border-bottom {
  border-bottom: 1px solid var(--border-header-color);
}
