.hero {
  text-align: center;
}

.hero__container {
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--background-color-hero);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/webstudio/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  @include fonts(900, 44px, false, calc(60 / 44), 0.06em);
  text-transform: uppercase;
  color: var(--white-color);
}
