.team {
  @include section;
  @extend %section--secondary-background;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__card {
  padding: 30px 32px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  margin-bottom: 10px;

  @include fonts(500, 16px, false, calc(19 / 16), 0.03em);
  text-align: center;
}

.team__text {
  margin-bottom: 16px;

  @include fonts(false, 16px, false, calc(19 / 16), 0.03em);
  color: var(--secondary-text);

  text-align: center;
}
